{% extends "admin/core/base.html" %}

{% block title %}Bepress Import{% endblock %}
{% block title-section %}Import Bepress Archive{% endblock %}

{% block body %}
    <div class="box">
        <p><strong>Note:</strong> to include Bepress exports in this tool's
            import list they should be added to <code>/path/to/janeway/src/files/plugins/bepress/</code>.
        </p>
        <p>If you don't have a access to a Bepress archive, you can generate one from a batch CSV instead</p>
        <a class="button small" href="{% url 'bepress_csv_import' %}">Start CSV Import</a>
        <form method="POST" action="{% url 'bepress_import' %}">
            {% csrf_token %}
            <fieldset class="fieldset">
                <legend>Import from Bepress Archive</legend>
                {% if request.press and not request.journal %}
                <label for="journal">Select the target journal/conference or books</label>
                <select name="journal_code">
                    {% for journal in request.press.journals %}
                    <option value="">Books</option>
                    <option value="{{ journal.code }}">{{ journal.name }}</option>
                    {% endfor %}
                </select>
                {% endif %}
            <br />
                <label for="bepress_structure">
                    Select the <a target="_blank" href="https://www.bepress.com/reference_guide_dc/digital-commons-structures/">strucuture</a> of the content being imported
                </label>
                <select name="bepress_structure">
                    <option value="series">Series</option>
                    <option value="journal">Journal</option>
                    <option value="events">Events (Conferences)</option>
                    <option value="books">Book and Chapters</option>
                </select>
            <br />
                <label for="pdf_type">Select which file type to create galley from</label>
                <select name="pdf_type">
                    <option value="original">Original</option>
                    <option value="stamped">Stamped</option>
                </select>
            <br />
                <label for="section_id">Select the default section for imported articles without a discipline </label>
                <select name="section_id">
                    {% for section in sections%}
                    <option value="{{ section.pk }}">{{ section.name }}</option>
                    {% endfor %}
                </select>
            <br />
            <label for="section_key">If your export uses a custom key to denote the section, provide it here</label>
            <input type="text" name="section_key">
            <label for="folder">
                Select where to get source for import
            </label>
                {% for folder in folders %}
                    <input type="radio" name="folder" value="{{ folder }}">
                    &nbsp;{{ folder }}<br />
                {% endfor %}
                <button name="import" class="success button">Import to this
                    Journal
                </button>
            </fieldset>
        </form>
    </div>
{% endblock %}
